---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->

<b>Email</b>: yc07424@um.edu.mo / rich@am.sanken.osaka-u.ac.jp / zhou.jianhang.tx5@osaka-u.ac.jp <br />
<b>Google Scholar</b>: [[Google scholar page]](https://scholar.google.com/citations?user=enoKkoYAAAAJ&hl=en) <br />
<b>Location</b>: The 1st Building for Research, SANKEN, Osaka University, Suita, Osaka, Japan.

